@font-face {
	font-family: Meleo;
	src: url(meleo.woff);
}

@font-face {
	font-family: MeleoItalic;
	src: url(italic_meleo.woff);
	font-weight: italic;
}

@font-face {
	font-family: Sono;
	src: url(Sono-Medium.woff2);
}
